gradio
pandas
numpy
plotly
scikit-learn
langchain
langchain-community
langchain-huggingface
langchain-classic
langchain-ollama
faiss-cpu
nbformat>=4.2.0
xgboost
lightgbm
tensorflow
tf-keras
torch
transformers
sentencepiece
sentence-transformers

# Optional: Langflow for visual RAG pipeline design
# langflow
